body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #322c58;
    color: #d7f4e9;
    padding: 20px;
}

nav {
    background-color: #382a36;
    color: #f9e9e9;
    padding: 10px 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #bff3f7;
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    background-color: #391197;
    color: #ebfce3;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}